<ibm-modal size="lg" [open]="true" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h2 ibmModalHeaderLabel i18n>{type, select, add {New} edit {Edit}}</h2>
    <h3 ibmModalHeaderHeading>Problem</h3>
  </ibm-modal-header>
  <section ibmModalContent [hasForm]="true">
    <form [formGroup]="form">
      <ibm-label class="mb-4">
        Problem Body
        <textarea
          class="w-full"
          [rows]="5"
          ibmTextArea
          aria-label="textarea"
          formControlName="body"
          [skeleton]="!loaded"
        ></textarea>
      </ibm-label>
      <ibm-label class="mb-4">
        Solution
        <input
          ibmText
          aria-label="textarea"
          type="number"
          formControlName="solution"
          [skeleton]="!loaded"
        />
      </ibm-label>
      <ibm-file-uploader
        title="Upload an image"
        description="only .jpg and .png files. 500kb max file size."
        [drop]="true"
        dropText="Drag and drop an image to upload"
        [accept]="['image/png', 'image/jpeg']"
        [multiple]="false"
        formControlName="image"
        [skeleton]="!loaded"
      ></ibm-file-uploader>
    </form>
  </section>
  <ibm-modal-footer>
    <button ibmButton="primary" (click)="submit()">Save</button>
    <button ibmButton="secondary" (click)="closeModal()">Close</button>
  </ibm-modal-footer>
</ibm-modal>
