<ibm-modal size="lg" [open]="true" (overlaySelected)="closeModal()">
  <ibm-modal-header (closeSelect)="closeModal()">
    <h2 ibmModalHeaderLabel i18n>{type, select, add {New} edit {Edit}}</h2>
    <h3 ibmModalHeaderHeading>Team</h3>
  </ibm-modal-header>
  <section ibmModalContent [hasForm]="true">
    <form [formGroup]="form">
      <div *ngIf="type === 'edit'" class="mb-4">
        <ibm-checkbox
          [disabled]="!orderLoaded"
          (checkedChange)="selectedForCompetitionChange($event)"
          [checked]="currentlyInOrder > -1"
        >
          Selected for the competition
        </ibm-checkbox>
        <div *ngIf="currentlyInOrder > -1">
          <p>Current order: {{ currentlyInOrder + 1 }}</p>
          <button
            ibmButton="tertiary"
            size="sm"
            [iconOnly]="true"
            [disabled]="!orderLoaded || (orderHighest$ | async)"
            (click)="swapOrder(true)"
          >
            <svg ibmIcon="arrow--up" size="16"></svg>
          </button>
          <button
            ibmButton="tertiary"
            size="sm"
            [iconOnly]="true"
            [disabled]="!orderLoaded || (orderLowest$ | async)"
            (click)="swapOrder(false)"
          >
            <svg ibmIcon="arrow--down" size="16"></svg>
          </button>
        </div>
      </div>

      <ibm-label class="mb-4">
        Team Body
        <textarea
          class="w-full"
          [rows]="5"
          ibmTextArea
          aria-label="textarea"
          formControlName="body"
          [skeleton]="!editLoaded"
        ></textarea>
      </ibm-label>
      <ibm-tile
        ><ng-katex-paragraph
          [paragraph]="form.controls.body.value!"
        ></ng-katex-paragraph
      ></ibm-tile>
      <ibm-label class="mb-4">
        Solution
        <input
          ibmText
          aria-label="textarea"
          type="number"
          formControlName="solution"
          [skeleton]="!editLoaded"
        />
      </ibm-label>
      <div ibmGrid [useCssGrid]="true" [fullWidth]="true" class="mb-8">
        <div ibmCol [columnNumbers]="{ lg: 8, md: 8, sm: 4 }">
          <ibm-file-uploader
            title="Upload an image"
            description="only .jpg and .png files. 500kb max file size."
            [drop]="true"
            dropText="Drag and drop an image to upload"
            [accept]="['image/png', 'image/jpeg']"
            [multiple]="false"
            formControlName="image"
            [skeleton]="!editLoaded"
          ></ibm-file-uploader>
        </div>
        <div ibmCol [columnNumbers]="{ lg: 8, md: 8, sm: 4 }">
          <img
            class="w-full"
            *ngIf="fileToDataUrl() | async"
            [src]="fileToDataUrl() | async"
            alt=""
          />
        </div>
      </div>
    </form>
  </section>
  <ibm-modal-footer>
    <button
      ibmButton="primary"
      (click)="submit()"
      [disabled]="saveLoading$ | async"
    >
      Save
      <ibm-inline-loading
        class="ml-2"
        [state]="(saveLoading$ | async) ? 'active' : 'hidden'"
      ></ibm-inline-loading>
    </button>
    <button
      ibmButton="secondary"
      (click)="closeModal()"
      [disabled]="saveLoading$ | async"
    >
      Close
    </button>
  </ibm-modal-footer>
</ibm-modal>
