<h1 i18n class="mb-8">Problems</h1>
<ibm-table-toolbar [model]="(model$ | async) ?? emptyTableModel" #toolbar>
  <ibm-table-toolbar-actions>
    <button ibmButton="primary">
      <ng-container i18n>Delete</ng-container>
      <svg ibmIcon="trash-can" size="16"></svg>
    </button>
  </ibm-table-toolbar-actions>
  <ibm-table-toolbar-content *ngIf="!toolbar.selected">
    <button ibmButton="primary" size="sm" class="ml-4" (click)="addButton()">
      <ng-container i18n>Add</ng-container>
    </button>
  </ibm-table-toolbar-content>
</ibm-table-toolbar>
<ibm-table
  [model]="
    (loaded$ | async) === false
      ? emptyTableModel
      : (model$ | async) ?? emptyTableModel
  "
  [skeleton]="(loaded$ | async) === false"
>
  <tbody *ngIf="loaded$ | async">
    <tr>
      <td colspan="4"><div class="text-center" i18n>No data</div></td>
    </tr>
  </tbody>
</ibm-table>
