<h1 i18n class="mb-14">Users</h1>
<ibm-table-toolbar>
  <ibm-table-toolbar-actions>
    <button ibmButton="primary">
      <ng-container i18n>Delete</ng-container>
      <svg ibmIcon="delete" size="16"></svg>
    </button>
  </ibm-table-toolbar-actions>
  <ibm-table-toolbar-content>
    <ibm-table-toolbar-search [expandable]='true'></ibm-table-toolbar-search>
    <button ibmButton="primary" size="sm" class=''>
      <ng-container i18n>Add</ng-container>
    </button>
  </ibm-table-toolbar-content>
</ibm-table-toolbar>
