<h1 i18n class="mb-8">Apps</h1>
<ibm-table-toolbar [model]="(model$ | async) ?? emptyTableModel" #toolbar>
  <ibm-table-toolbar-actions>
    <button ibmButton="primary">
      <ng-container i18n>Delete</ng-container>
      <svg ibmIcon="trash-can" size="16"></svg>
    </button>
  </ibm-table-toolbar-actions>
  <ibm-table-toolbar-content *ngIf="!toolbar.selected">
    <!-- TODO: disable only when no permission -->
    <button ibmButton="primary" size="sm" class="ml-4" disabled>
      <ng-container i18n>Add</ng-container>
    </button>
  </ibm-table-toolbar-content>
</ibm-table-toolbar>
<ibm-table [model]="(model$ | async) ?? emptyTableModel">
  <tbody>
    <tr>
      <td colspan="4"><div class="text-center" i18n>No data</div></td>
    </tr>
  </tbody>
</ibm-table>
