<ibm-header brand="Verseghy" name="Admin" ibmTheme="g90">
  <ibm-hamburger
    [active]="hamburgerActive"
    (selected)="hamburgerActive = !hamburgerActive"
  ></ibm-hamburger>
  <ibm-header-global>
    <ibm-header-action title="logout" (activeChange)="logout()">
      <svg ibmIcon="user" size="16"></svg>
    </ibm-header-action>
  </ibm-header-global>
  <ibm-sidenav [expanded]="hamburgerActive" [rail]="true">
    <ibm-sidenav-item
      [route]="['/admin/dashboard']"
      [active]="(url$ | async) === '/admin/dashboard'"
    >
      <svg ibmIcon="dashboard" size="16"></svg>
      <ng-container i18n>Dashboard</ng-container>
    </ibm-sidenav-item>
    <ibm-sidenav-item
      *ngIf="haveEitherAction({ actions: actions.USERS }) | async"
      [route]="['/admin/users']"
      [active]="(url$ | async) === '/admin/users'"
    >
      <svg ibmIcon="user" size="16"></svg>
      <ng-container i18n>Users</ng-container>
    </ibm-sidenav-item>
    <ibm-sidenav-item
      *ngIf="haveEitherAction({ actions: actions.ACTIONS }) | async"
      [route]="['/admin/actions']"
      [active]="(url$ | async) === '/admin/actions'"
    >
      <svg ibmIcon="interactions" size="16"></svg>
      <ng-container i18n>Actions</ng-container>
    </ibm-sidenav-item>
  </ibm-sidenav>
</ibm-header>
<main class="main">
  <router-outlet></router-outlet>
</main>
