<ibm-header brand="Verseghy" name="Admin" ibmTheme="g90">
  <ibm-hamburger
    [active]="hamburgerActive"
    (selected)="hamburgerActive = !hamburgerActive"
  ></ibm-hamburger>
  <ibm-header-global>
    <ibm-header-action title="logout" (activeChange)="logout()">
      <svg ibmIcon="user" size="16"></svg>
    </ibm-header-action>
  </ibm-header-global>
  <ibm-sidenav [expanded]="hamburgerActive" [rail]="true" class="sidenav">
    <ibm-sidenav-item
      [route]="['/admin/dashboard']"
      [active]="(url$ | async) === '/admin/dashboard'"
    >
      <svg ibmIcon="dashboard" size="16"></svg>
      <ng-container i18n>Dashboard</ng-container>
    </ibm-sidenav-item>
    <ibm-sidenav-menu
      *ngIf="haveEitherAction({ actions: iamActions }) | async"
      title="IAM"
    >
      <svg ibmIcon="user" size="16" icon></svg>
      <ibm-sidenav-item
        *ngIf="haveEitherAction({ actions: actions.USERS }) | async"
        [route]="['/admin/iam/users']"
        [active]="(url$ | async) === '/admin/users'"
      >
        <ng-container i18n>Users</ng-container>
      </ibm-sidenav-item>
      <ibm-sidenav-item
        *ngIf="haveEitherAction({ actions: actions.ACTIONS }) | async"
        [route]="['/admin/iam/actions']"
        [active]="(url$ | async) === '/admin/actions'"
      >
        <ng-container i18n>Actions</ng-container>
      </ibm-sidenav-item>
      <ibm-sidenav-item
        *ngIf="haveEitherAction({ actions: actions.GROUPS }) | async"
        [route]="['/admin/iam/groups']"
        [active]="(url$ | async) === '/admin/groups'"
      >
        <ng-container i18n>Groups</ng-container>
      </ibm-sidenav-item>
      <ibm-sidenav-item
        *ngIf="haveEitherAction({ actions: actions.APP }) | async"
        [route]="['/admin/iam/apps']"
        [active]="(url$ | async) === '/admin/apps'"
      >
        <ng-container i18n>Apps</ng-container>
      </ibm-sidenav-item>
    </ibm-sidenav-menu>
    <ibm-sidenav-menu
      *ngIf="haveEitherAction({ actions: actions.MATHCOMPETITION }) | async"
      title="Math Competition"
    >
      <svg ibmIcon="angle" size="16" icon></svg>
      <ibm-sidenav-item
        *ngIf="
          haveEitherAction({ actions: ['mathcompetition.problems'] }) | async
        "
        [route]="['/admin/math/problems']"
        [active]="(url$ | async) === '/admin/math/problems'"
      >
        <ng-container i18n>Problems</ng-container>
      </ibm-sidenav-item>
      <ibm-sidenav-item
        *ngIf="
          haveEitherAction({ actions: ['mathcompetition.problems'] }) | async
        "
        [route]="['/admin/math/teams']"
        [active]="(url$ | async) === '/admin/math/teams'"
      >
        <ng-container i18n>Teams</ng-container>
      </ibm-sidenav-item>
      <ibm-sidenav-item
        *ngIf="
          haveEitherAction({ actions: ['mathcompetition.problems'] }) | async
        "
        [route]="['/admin/math/users']"
        [active]="(url$ | async) === '/admin/math/users'"
      >
        <ng-container i18n>Users</ng-container>
      </ibm-sidenav-item>
      <ibm-sidenav-item
        *ngIf="haveEitherAction({ actions: ['mathcompetition.admin'] }) | async"
        [route]="['/admin/math/time']"
        [active]="(url$ | async) === '/admin/math/time'"
      >
        <ng-container i18n>Time Settings</ng-container>
      </ibm-sidenav-item>
      <ibm-sidenav-item
        *ngIf="
          haveEitherAction({ actions: ['mathcompetition.problems'] }) | async
        "
        [route]="['/admin/math/results']"
        [active]="(url$ | async) === '/admin/math/results'"
      >
        <ng-container i18n>Results</ng-container>
      </ibm-sidenav-item>
    </ibm-sidenav-menu>
  </ibm-sidenav>
</ibm-header>
<main class="main">
  <router-outlet></router-outlet>
</main>
